<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Karthika Practice Suite">
<listeners>
   <listener class-name = "com.athmatest.qa.ExtentReportListener.ExtentReporterNG" />
   
</listeners>


  <test name="Karthika Tests">
    <classes>
      <class name="com.athmatest.qa.testcases.SampleTesting"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
